.common-v1 {
  display: none;
  /* hidden by default */
  width: 100%;
  margin: 0 auto;
}

.common-v1 .common-image {
  width: 100%;
  border-radius: 16px;
}

/* Show only on small screens */
@media (max-width: 640px) {
  .common-v1 {
    display: block;
  }
}